In [1]:
import sys
if ".." not in sys.path:
    sys.path.append("..")

import energydata.odre

from tqdm.notebook import tqdm

In [2]:
# descriptor = {
#     "dataset": "consommation-quotidienne-brute-regionale",
#     "start_datetime": "2018-03-01",
#     "end_datetime": "2018-04-01"
# }

In [3]:
# descriptor = {
#     "dataset": "eco2mix-regional-cons-def",
#     "start_datetime": "2018-03-01",
#     "end_datetime": "2018-04-01"
# }

In [4]:
descriptor = {
    "dataset": "extremas-quotidiens-flux-commerciaux",
    "start_datetime": "2018-03-01",
    "end_datetime": "2018-04-01"
}

In [5]:
dataset = energydata.odre.ODREDataset(descriptor)
record_iter = dataset.fetch_records()

In [6]:
%%time
records = list(tqdm(record_iter))

0it [00:00, ?it/s]

CPU times: user 372 ms, sys: 86.4 ms, total: 458 ms
Wall time: 1.9 s

In [7]:
metadata = dataset.fetch_metadata()
metadata

{'fields': [{'name': 'date',
   'annotations': [{'args': ['day'], 'name': 'timeserie_precision'},
    {'args': ['-alphanum'], 'name': 'facetsort'},
    {'name': 'timerangeFilter'},
    {'name': 'facet'}],
   'label': 'Date',
   'type': 'date'},
  {'name': 'solde_min',
   'description': "Bilan sur l'ensemble des frontières.\nBalance at all borders\nMin Balance (MW)",
   'annotations': [{'args': ['-count'], 'name': 'facetsort'}],
   'label': 'Solde min (MW)',
   'type': 'double'},
  {'name': 'solde_max',
   'description': "Bilan sur l'ensemble des frontières.\nBalance at all borders\nax Balance (MW)",
   'annotations': [{'args': ['-count'], 'name': 'facetsort'}],
   'label': 'Solde max (MW)',
   'type': 'double'},
  {'name': 'temperature_moy',
   'description': 'Mean temperature (°C)',
   'annotations': [{'args': [1], 'name': 'decimals'}],
   'label': 'Temperature moy (°C)',
   'type': 'double'}],
 'dataset_records_count': 3803}

In [8]:
record = records[1]
record

{'solde_min': 5699.0,
 'date': '2012-01-05',
 'solde_max': 9921.0,
 'temperature_moy': 9.2,
 'recordid': '5cc2486c101e85cc1ba0b43cf44ba5663690e15f',
 'record_timestamp': '2020-04-01T19:30:02.444Z',
 'start_datetime': '2012-01-05T00:00:00+01:00',
 'end_datetime': '2012-01-06T00:00:00+01:00'}